.living {
  padding-bottom: 9rem;
  background-repeat: no-repeat;
  background-image: url("../../img/living_img.png");

  &__des {
    width: 445px;
    margin-left: 43rem;
    padding-top: 5rem;
  }

  &__title {
    color: #495567;
    font-family: Space Mono;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; /* 100% */
    letter-spacing: -2.143px;
  }

  &__text {
    color: #939caa;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
}
